*{
    margin: 0%;
    padding:0%;
   
    

}
body{
   
}
header{
    background-color:black;
    color: white;
    box-sizing: border-box;


}
.headsocial{
    margin-left: 90%;
    position: absolute;
    top:3%;
    
}
.headsocial a i{
    margin: 4px;
}

header h1{
    padding: 1% 5%;
    

}



.nav {
    text-decoration: none;
    list-style:none;
    font-family: cursive;
    padding:15px;
    color: white;
}
header nav{
    text-align: center;
    font-size: 100%;
}


header nav a:hover{
    background-color: blueviolet;
    border-radius:6px;

}
.form{
    margin:10% 50%;
}