*{
    margin: 0%;
    padding:0%;
    

}

header{
    background-color:black;
    color: white;
    box-sizing: border-box;


}
.headsocial{
    margin-left: 90%;
    position: absolute;
    top:3%;
    
}
.headsocial a i{
    margin: 4px;
}

header h1{
    padding: 1% 5%;

}


.nav {
    text-decoration: none;
    list-style:none;
    font-family: cursive;
    padding:15px;
    color: white;
}
header nav{
    text-align: center;
    font-size: 100%;
}


header nav  .nav:hover{
    background-color: blueviolet;
    border-radius:6px;

}




.poem{

      padding-top: 2%;
       display: flex;
       
       color: black;
       font-family: "Gill Sans", sans-serif;
       
}
div #poem{
    margin-right: 30%;
    padding-top:8%;
}


#imgpoem{
    margin:18% 0% 0% 45%;
    width:53%;
    height: 78%;
    
    border-radius:20px;
    

}
#more{
  
    color: black;
    margin-bottom:7%;
    margin-left:2%;
    padding:0% 3%;
    text-decoration: underline;
    text-decoration: blue;
}
div #more:hover{
    
    border-radius:4%;
    text-decoration: overline;

}



.Aboutme{
    margin-top:10%;
    background-color: black;
    color: white;
    box-sizing: border-box;
    display: flex;
    font-family: "Gill Sans", sans-serif;
    
    
}
#imgabout{
    width:45%;
    height:100%;
   
    padding: 0%;
    margin: 0%;
    
    
    padding-left:55%;
}
body{
    overflow-x: hidden;
    background-color: wheat;
    
}
#about{
    
    position: absolute;
    top:178%;
    left:1%;
    color:white;
    border-radius: 2%;
    background-color: blueviolet;
    
    
}
#about p{
    padding:4% 4%;
    line-height: -8%;
    letter-spacing: 5%;
    font-size: 150%;
}

h3{
    position: absolute;
    left:18%;
    top:152%;
    color: white;  
    font-size:250%;
}
#btnabout a{
    color: black;
    color: white;
    
    
}

   

h4{
    padding:9% 0%;
    color: white;
    background: url('TXM0.gif');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    font-size:250%;
    
    
}
.row {
   
   display:flex;
   -ms-flex-align: center;
   margin:0%;
  
   
}

.column{
    padding:0% 0%;
    margin:0%;

}
.Artwork{
    background: black;
    padding: 0%;
    margin: 0%;
}
.social{
    text-align: center;
    margin-bottom: 5%;
    
}
.social a{
    margin:0px 5px;
    
}

footer nav {
    
    text-align: center;
}


footer .nav {
    text-decoration: none;
    list-style:none;
    font-family: cursive;
    padding:0px;
    margin: 2%;
    color: white;
}
footer nav{
    text-align: center;
    font-size: 100%;
    padding-bottom: 5%;
}


footer nav a:hover{
    color: blueviolet;
    

}

.social .fa-facebook:hover{
    background-color: blue;
    padding: 2px;
    border-radius: 2px;
    width:40px;
}
.social .fa-instagram:hover{
    background-color: #c13584;
    padding: 4px;
    border-radius: 2px;
    width:40px;
}
.social .fa-youtube:hover{
    background-color:red;
    padding: 4px;
    border-radius: 2px;
    width:40px;
}